@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.EventosContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgb(2,20,25);
    background: linear-gradient(0deg, rgba(2,20,25,1) 12%, rgba(8,71,88,1) 75%);
    padding: 9rem 2rem;
}



.CardEventos{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2rem 0rem 2rem 0rem;
    border-radius: 30px;
    background-color: #ebefff46;
    background-image: url(/src/Components/Pages/Home/Images/Noiseimage.png);
    border:1px #e8e4e4 solid;
}
.ImagenContainer{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px yellow solid; */
}

#ImagenCard{
    margin: 10px;
    height: 300px ;
}

#textoContainer{
    width: 70%;
    color: white;
}

#TituloEventosContainer{
    text-align: center;
    font-size: 3rem;
    background: radial-gradient(25% 40% at 50% 50%, #fff 30%, hsla(0, 0%, 100%, .35) 100%);      
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

#TituloEventos{
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    color: white;
}

#HorarioEventos{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: white;
}

#DecripcionEventos{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: white;
}
#ContainerEventosBotones{
    display: flex;
    gap: 20px;
}

.BotonesEventos{
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    border-radius: 300px;
    padding:  .5rem 2rem;
    border: 1px rgba(132, 132, 132, 0.139) solid;
    background-color: #0C6DFD;
    color: white;
    transition: .3s all ease-in-out;
}

.BotonesEventos:hover{
    transform: translateY(-2px);
    background-color: #3b80e8;

}



@media (max-width: 900px) {

    .ImagenCard{
        align-items: center;
    }

    .EventosContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: rgb(2,20,25);
        background: linear-gradient(0deg, rgba(2,20,25,1) 12%, rgba(8,71,88,1) 75%);
        padding: 6rem 1rem;
    }
    
    .CardEventos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 2rem;
    }

    
    #TituloEventos{
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
        color: white;
    }
    
    #HorarioEventos{
        font-size: 1rem;
    }
    
    #DecripcionEventos{
        font-size: 1rem;
    }
    #ContainerEventosBotones{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    
    .BotonesEventos{
        font-size: 1rem;
        font-weight: 300;
        border-radius: 300px;
        padding:  .5rem 2rem;
    }


}