@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.EventosContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgb(2,20,25);
    background: linear-gradient(0deg, rgba(2,20,25,1) 12%, rgba(8,71,88,1) 75%);
    padding: 9rem 2rem;
}

.CardEventos{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: #ebefff46;
    background-image: url(/src/Components/Pages/Home/Images/Noiseimage.png);
    border:2px #e8e4e4 solid;
}

#textoContainer{
    color: white;
}

#TituloEventos{
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    color: white;
}

#HorarioEventos{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: white;
}

#DecripcionEventos{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: white;
}
#ContainerBotones{
    display: flex;
    gap: 20px;
}

.BotonesEventos{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    border-radius: 20px;
    padding: 1rem 1rem;
    border: 2px rgb(218, 218, 218) solid;
    background-color: #027DFC;
    background-image: url(/src/Components/Pages/Home/Images/Noiseimage.png);
    color: white;
    font-weight: 300;
}