@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.ContainerForm {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(32, 117, 147, 1) 13%, rgba(16, 65, 83, 1) 53%, rgba(2, 19, 25, 1) 98%);
  padding: 8rem;
  font-family: "Montserrat", sans-serif;
}


.formSoporte {
  display: flex;
  width: 60%;
  flex-direction: column;
  gap: 10px;
  /* max-width: 450px; */
  padding: 4rem 4rem;
  border-radius: 20px;
  position: relative;
  background-color: #ffffff38;
  background-image: url(/src/Components/Pages/Home/Images/Noiseimage.png);
  border: 1px solid #f0f0f07b;
  transition: .6s ease-in-out all;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.144);

}



.title {
  font-size: 38px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  padding-left: 30px;
  color: white;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #ececec;
}

.message,
.signin {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(230, 230, 230);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline #6d87d6;
}

.signin a {
  color: #00bfff;
}


.formSoporte label {
  position: relative;
}

.formSoporte label .input {
  background-color: #f3f3f3;
  color: #0c0c0c;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.315);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.144);
}

.formSoporte label .input+span {
  color: #0c0c0c;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  font-weight: 400;
  cursor: text;
  transition: 0.3s ease;
}

.formSoporte label .input:placeholder-shown+span {
  top: 12.5px;
  font-size: 1rem;
}

.formSoporte label .input:focus+span,
.formSoporte label .input:valid+span {
  color: #1B7DFC;
  top: 0px;
  font-size: .9rem;
  font-weight: 600;
  padding-top: .2rem;
}

.input {
  font-size: medium;
}

.btnForm {
  width: 150px;
  font-family: inherit;
  margin: 0 auto;
  font-size: 1rem;
  background: #1B7DFC;
  color: white;
  padding: 0.7em 1em;
  /* padding-left: 0.9em; */
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.295);

}

.btnForm:hover {
  background-color: #1B7DFC;
}

.btnForm span {
  display: block;
  margin-left: 1rem;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

.btnForm svg {
  display: block;
  margin-left: .5rem;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btnForm:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btnForm:hover svg {
  transform: translateX(2.5rem) rotate(45deg) scale(1.1);
}

.btnForm:hover span {
  transform: translateX(8rem);
}

.btnForm:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}





@media (max-width: 900px) {

  .ContainerForm {
    padding: 7rem 0;
  }


  .formSoporte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 90%;
    border-radius: 20px;
    position: relative;
    transition: .6s ease-in-out all;
    padding: 3rem 2rem 3rem 2rem;
    margin: 0;
  }

  .title {
    font-size: 1.2rem;
    /* border: 2px yellow solid; */
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
  }

  .title::before {
    width: 18px;
    height: 18px;
  }

  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }


  .message,
  .signin {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
  }

  .signin {
    text-align: center;
  }

  label {
    width: 100%;
  }

  .formSoporte label {
    position: relative;
  }

  .formSoporte label .input {
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border-radius: 10px;
  }

  .formSoporte label .input+span {
    position: absolute;
    left: 15px;
    top: 0px;
    font-size: 0.9rem;
    cursor: text;
    transition: 0.3s ease;
  }




  .input {
    font-size: medium;
  }


  .btnForm {

    overflow: hidden;
    transition: none;
    margin-top: 1rem;
    justify-content: center;
  }


  .btnForm span {
    display: block;
    margin-left: 0;
    transition: none;
  }

  .btnForm span:hover {
    transform: none;
  }

  .btnForm svg {
    display: none;
    transform-origin: none;
    transition: none;
  }

  .btnForm:hover .svg-wrapper {
    animation: none;
  }

  .btnForm:hover svg {
    transform: none;
  }

  .btnForm:hover span {
    transform: none;
  }

  .btnForm:active {
    transform: none;
  }


}