@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilo de container grande */
.LoginContainer {
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    padding: 10rem  0rem 8rem 0rem;
    background: linear-gradient(180deg, rgba(32, 117, 147, 1) 13%, rgba(16, 65, 83, 1) 53%, rgba(2, 19, 25, 1) 98%);
    height: auto;
}

/* Container de form */

#FormularioLoginContainer {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: auto;
    /* border: 2px yellow solid; */

}

/* Bloques 1 y 2 */

.bloque1 {
    width: 50%;
    height: 675px;
    border-radius: 30px 0px 0px 30px;
    /* border: 2px yellow solid; */
}

.bloque2 {
    width: 50%;
    height: 675px;
    border-radius: 0 30px 30px 0px;
    background-color: white;
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 675px;
    border-radius: 30px 0 0 30px;
}

.form1 {
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 10px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.4em;
    /* border: 2px yellow solid; */
}

.form1:hover{
    background-color: white;
    box-shadow: none;
}

.formRecuperar.hover{
    background-color: white;
    box-shadow: none

}

#heading1 {
    text-align: center;
    margin: 2em;
    color: black;
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 35px;
    padding: 0.7em;
    border: 1px rgba(19, 19, 19, 0.071) solid;
    outline: none;
    color: black;
    background-color: rgb(238, 238, 238);
}

.input-icon {
    height: 1.3em;
    margin-right: .5rem;
    width: 1.3em;
    fill: black;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    /* color: #d3d3d3; */
    color: black;
}

.form .botonesLogincontainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
    border: none;
}

.button1 {
    padding: .7rem 2rem;
    border-radius: 30px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #387CDF;
    color: white;
}

.button1:hover {
    background-color: #387CDF;
    transform: translateY(-1px);
}

.button2 {
    padding: .7rem 2rem;
    border-radius: 30px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #31a44c;
    color: white;
}

.button2:hover {
    background-color: #31a44c;
    transform: translateY(-1px);
    color: white;
}

.button3 {
    padding: .7rem 2.8rem;
    margin-top: .5rem;
    border-radius: 30px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: rgb(0, 0, 0);
    color: white;
}

.button3:hover {
    transform: translateY(-1px);
    color: white;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 900px) {


    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    /* Estilo de container grande */
    .LoginContainer {
        justify-content: center;
        padding-top: 4.4rem;
        width: 100%;
        padding: rem 0;
        padding: 4.3rem 0rem 0rem 0rem;

    }
    
    /* Container de form */
    
    #FormularioLoginContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* border: 2px yellow solid; */
    
    }
    
    /* Bloques 1 y 2 */
    
    .bloque1 {
        display: none;
    }

    
    
    .bloque2 {
        width: 100%;
        height: 100%;
        border-radius:0px;
        background-color: white;
        display: flex;
        direction: column;
    }
    

    .form1 {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 20px;
        padding: 5rem 3rem;
        /* border: 2px yellow solid; */
    }
    
    .form1:hover{
        background-color: white;
        box-shadow: none;
    }
    
    .formRecuperar.hover{
        background-color: white;
        box-shadow: none
    
    }
    
    #heading1 {
        margin: 0;
        color: black;
        font-size: 1.5em;
    }
    
    .field {
    
        gap: 0.8em;
        border-radius: 35px;
        padding: 0.7em;
        border: 1px rgba(19, 19, 19, 0.071) solid;
    }
            

    
    .button1 {
        width: 100%;
        margin-bottom: .5rem;
        outline: none;
        transition: none;
    }
    
    .button1:hover {
        transform: none;
    }
    
    .button2 {
        width: 100%;
        transition: none;

    }
    
    .button2:hover {
        transform:none;
    }
    
    .button3 {
        width: 100%;
        transition: none;
    }
    
    .button3:hover {
        transform:none;
    }
    
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



}