#heading3 {
    text-align: center;
    color: black;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

#aclaracion2 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    width: 90%;
    /* border: 2px yellow solid; */

}

.form:hover {
    width: 90%;
    border: none;
}

.btnOlvideContrasena {
    margin: 0;
    padding: 1rem;
    /* border: 2px yellow solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container boton olvide contrasena */
.ContainerBotonOlvideContrasena {
    margin: 0;
    padding: 1rem;
    /* border: 2px yellow solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnSendCode {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 30px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #0C6DFD;
    transition: .2s all ease-in-out;
    color: white;
    /* margin-bottom: 20px; */
}

#btnSendCode:hover {
    background-color: #4a88e6;
}

/* Bloque de inputs de olvide contraseña */

.bloque4 {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 0 30px 30px 0px;
    background-color: white;
}

.bloque4:hover {
    background-color: white;
    box-shadow: none;
    transform: none;
}

@media (max-width: 900px) {

    .formRecuperar {
        padding: 1rem;
    }

    #aclaracion2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .form {
        width: 100%;
        /* border: 2px yellow solid; */

    }

    .form:hover {
        width: 90%;
        border: none;
    }

    .btnOlvideContrasena {
        margin: 0;
        padding: 1rem;
        /* border: 2px yellow solid; */
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .bloque4 {
        width: 100%;
        height: 600px;
        padding: 0 2rem;
        border-radius: 0;
        background-color: white;
        display: flex;
        direction: column;
        justify-content: center;
        align-items: center;
    }

    .bloque4:hover {
        background-color: white;
        box-shadow: none;
        transform: none;
    }
}