/* Perfiles.jsx */

/* Container padre */
.AsistenciaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 9rem 0rem;

    background: rgb(2, 20, 25);
    background: linear-gradient(0deg, rgba(2, 20, 25, 1) 12%, rgba(8, 71, 88, 1) 75%);
}




/* CardsTemplate.jsx */

/* Estilos de cards */

.containerCards {
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    height: 100%;
}

/* Cards container */

.CardAsistencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30rem;
    padding: 0;
    border-radius: 30px;
    background-color: #e4e4e4;
    background-image: url(/src/Components/Pages/Home/Images/Noiseimage.png);
    border: 1px #3d3d3d solid;
    overflow: hidden;
    transition: .3s ease-in all;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.541);

}

.CardAsistencia:hover {
    /* Opcional se puede sacar*/
    transform: translateY(-3px);
}

/* Etiquetas container */

#etiquetasContainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    margin-bottom: 1rem;
}

/* Estilo para la etiqueta */
#EtiquetaCard {
    padding: .3rem .4rem;
    background-color: rgb(233, 233, 233);
    color: white;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.356);
}

/* Estilo para el contenedor de la etiqueta */
.EtiquetaContainer {
    position: relative;
    /* Posición relativa para el posicionamiento absoluto del título */
    display: inline-block;
    /* Para que el contenedor se ajuste al contenido */
    width: 50px;

}

/* Estilo para el título de la etiqueta */
.TituloEtiqueta {
    position: absolute;
    width: 200px;
    bottom: -90px;
    text-align: center;
    left: 80%;
    transform: translateX(-90%);
    background-color: #ebefff;
    color: black;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: .8rem;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.541);
}

/* Estilo para mostrar el título de la etiqueta al pasar el ratón sobre ella */
.EtiquetaContainer:hover .TituloEtiqueta {
    opacity: 1;
    visibility: visible;
    bottom: -65px;
}


/* imagen container */

.ImagenContainer {
    width: 100%;
    height: 100%;
}

#ImagenCategoriaCard {
    width: 100%;
    object-fit: cover;
    object-position: center;
    /* border-radius: 30px 0 0px 30px; */
}

.textoAsistenciaContainer {
    padding: 2rem;
    width: 100%;
    height: 100%;
    /* color: white; */
    /* border: 2px yellow solid; */
}

#TituloAsistenciaContainer {
    text-align: center;
    font-size: 3rem;
    background: radial-gradient(25% 40% at 50% 50%, #fff 30%, hsla(0, 0%, 100%, .35) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

#TituloAsistencia {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    /* color: white; */
    color: black;
}

#HorarioAsistencia {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    /* color: white; */
    color: black;
}

/* #DecripcionAsistencia {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: white;
} */

#ContainerBotones {
    display: flex;
    justify-content: center;
    /* width: 90%; */
    padding: .5rem 1rem;
    /* border: 2px yellow solid; */
    gap: 1px;
}

#BotonLink {
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.329);
    padding: .5rem 2rem;
    border: 1px rgba(132, 132, 132, 0.139) solid;
    background-color: #377ADB;
    color: white;
    transition: .3s all ease-in-out;
}

#BotonLink:hover {
    /* transform: translateY(-2px); */
    background-color: #3b80e8;

}

/* container exterior botones */
#PaginationButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

/* Estilos de boton */
.BtnNextAndPrevious {
    display: flex;
    padding: .5rem 1.5rem;
    border-radius: 40px;
    border: none;
    background-color: #2f74db;
    transition: .2s all ease-in;
}

.BtnNextAndPrevious:disabled {
    background-color: gray;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
    user-select: none;
}



.OnBtnContainerDespues {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.OnBtnContainerAntes {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: white;
}

ion-icon {
    font-size: 34px;
    color: white;
    transition: .2s all ease-in;
}

.OnBtnContainerDespues:hover ion-icon {
    transform: translateX(3px);
}

.OnBtnContainerAntes:hover ion-icon {
    transform: translateX(-3px);
}

@media (max-width: 1280px) {
    .CardAsistencia {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 28rem;
        padding: 0;
        border-radius: 30px;
        background-color: #e4e4e4;
        background-image: url(/src/Components/Pages/Home/Images/Noiseimage.png);
        border: 1px #3d3d3d solid;
        overflow: hidden;
        transition: .3s ease-in all;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.541);

    }
}

@media (max-width: 900px) {



    .AsistenciaContainer {
        display: flex;
        flex-direction: column;
        /*Esto hace que sea en columnas*/
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 7rem 0;
        /*Padding lateral y de arriba del container*/
    }

    /* CardsTemplate.jsx */

    .CardAsistencia {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        height: auto;
        width: 90%;
        border-radius: 30px;
        transition: none;
    }

    .CardAsistencia:hover {
        transform: none;
    }

    .ImagenContainer {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #ImagenCategoriaCard {
        height: 200px;
        border-radius: 30px 30px 0px 0px;
    }

    .textoAsistenciaContainer {
        padding: 2rem 2rem;
        width: 100%;
    }

    #TituloAsistenciaContainer {
        text-align: center;
        font-size: 3rem;
        background: radial-gradient(25% 40% at 50% 50%, #fff 30%, hsla(0, 0%, 100%, .35) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
    }

    #TituloAsistencia {
        font-size: 1.2rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
    }

    #HorarioAsistencia {
        font-size: .8rem;
        font-family: "Montserrat", sans-serif;
    }

    #DecripcionAsistencia {
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        color: white;
    }

    #ContainerBotones {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 0;
    }

    #BotonLink {
        font-size: 1rem;
        font-weight: 300;
        width: 100%;
        font-family: "Montserrat", sans-serif;
        border-radius: 10px;
        padding: .5rem 3rem;
        border: 1px rgba(195, 195, 195, 0.139) solid;
        transition: none;
    }

    #BotonLink:hover {
        transform: translateY(0);

    }

    /* container exterior botones */
    #PaginationButtons {
        padding: 2rem 0rem 0rem 0rem;
        gap: 10px;

    }

    /* Estilos de boton */
    .BtnNextAndPrevious {
        display: flex;
        padding: .5rem 1rem;
        border-radius: 40px;
        border: none;
        background-color: #2f74db;
        transition: .2s all ease-in;
    }

    .OnBtnContainerDespues {
        display: flex;
        gap: 10px;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: .9rem;
        /* padding: 0 .5rem; */
    }

    .OnBtnContainerAntes {
        display: flex;
        gap: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: .9rem;
        /* padding: 0 .5rem; */
    }

    ion-icon {
        font-size: 1.8rem;
        transition: none;
    }

    .OnBtnContainerDespues:hover ion-icon {
        transform: none;
    }

    .OnBtnContainerAntes:hover ion-icon {
        transform: none;
    }

    .BtnNextAndPrevious:hover {
        background-color: #2f74db;
    }


    /* Icons hover */


    .TituloEtiqueta {
        position: absolute;
        width: 100px;
        bottom: -90px;
        text-align: center;
        left: 80%;
        transform: translateX(-60%);
        background-color: #ebefff;
        color: black;
        font-weight: 600;
        padding: 10px 10px;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        font-size: .7em;
        font-family: "Montserrat", sans-serif;
        transition: all 0.3s ease;
    }

    /* Estilo para mostrar el título de la etiqueta al pasar el ratón sobre ella */
    .EtiquetaContainer:hover .TituloEtiqueta {
        opacity: 1;
        visibility: visible;
        bottom: -78px;
    }


}