#EstadisticasContainer{
    padding: 10rem;
}

.Bloqueestadisticas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

/* bloque individual de estadisticas */

.Estadistica{

    text-align: center;
}

#NumeroEst{
    font-size: 5rem;
    color: #d6b26a;
            background: -webkit-linear-gradient(146deg, rgb(177, 148, 42) 0%, rgb(222, 196, 196) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

#TextEst{
    font-size: 3rem;
    font-weight: 300;
}