#FooterSection{
    display: flex;
    background-color: #1b2430;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 2rem 0;
}

.Menu{
    display: flex;
    flex-direction: row;
}

.Menu ul{
    list-style: none;
}

.Menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: .3s ease-in-out;
}

.Menu ul li a:hover{
    text-decoration: none;
    color: rgb(41, 55, 149);
    font-size: 1.5rem;
}

#Copyright{
    font-size: 23px;
    color: rgb(179, 177, 177);
}


@media (max-width: 900px) {
    #FooterSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding:1rem;
        text-align: center;
    }
    
    .Menu{
        display: flex;
        flex-direction: row;
    }
    
    .Menu ul{
        list-style: none;
    }
    
    .Menu ul li a{
        text-decoration: none;
        color: white;
        font-size: 1rem;
        transition: nne;
    }
    
    .Menu ul li a:hover{
        text-decoration: none;
        color: white;
        font-size: 1rem;
    }
    
    #Copyright{
        font-size: .7rem;
        color: rgb(179, 177, 177);
    }
}