@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



#Introduction{
    display: flex;
    background: #207593;
    background-image: url(/src/Images/Noiseimage.png);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#Titulo{
    font-size: 4rem;
    color: rgb(249, 244, 244);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    font-weight: bold;
}

#BotonesConteiner{
    padding: 40px;
    display: flex;
    flex-direction: row; /* Mantiene botones en fila*/
    gap: 10px; /* Espacio ente botones*/
    margin-bottom: 60px; /* con esto empujo la descripcion para abajo*/
    font-family: "Montserrat", sans-serif;
}


#DescripcionIntroduccion{
    font-size: large;
    color: rgb(221, 215, 215);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}