@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


#ComunidadContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 2rem 8rem;
    gap: 20px;
    width: 100%;
    height: auto;
}

#ComunidadContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.TituloComunidad{
    font-size: 2.7rem;
    padding: 2rem 5rem;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    
}

#DescripcionContainer{
    width: 100%;
    padding: 3rem;

    
}

.DescripcionComunidad{
    font-size: 1.5rem;
    color: black;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    
}

.FotoComunidad{
    width: 80%;
}

#btnComunidad{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    padding: .5rem 1rem;
    border-radius: 35px;
    background-color: #0dd27af4;
    background-image: url(/src/Components/Pages/Home/Images/Noiseimage.png);
    border:1px #e8e4e471 solid;
    transition: .3s all ease-in-out;
}

#btnComunidad:hover{
    background-color: #16b26cf4;
    transform: translateY(-3px);
}   


@media (max-width: 900px) {
    #ComunidadContainer{
        display: flex;
        padding: 2rem 1.5rem;
        gap: 5px;
        width: 100%;
        height: auto;
    }
    
    #ComunidadContainer{
        display: flex;
        justify-content: center;
        align-items: center;
   
    }
    
    .TituloComunidad{
        font-size: 1.8rem;
        padding:0rem;
        color: black;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        
    }
    
    #DescripcionContainer{
        width: 90%;
        padding: 3rem;

    
        
    }
    
    .DescripcionComunidad{
        font-size: 1.2rem;
        color: black;
        width: 100%;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        
    }
    
    .FotoComunidad{
        width: 80%;
    }
    
    #btnComunidad{
        align-items: center;
        gap: 10px;
        font-size: 1.2rem;
        font-family: "Montserrat", sans-serif;
        padding: .5rem 1rem;
        border-radius: 35px;
        transition: none;
    }
    
    #btnComunidad:hover{
        background-color: #0dd27af4;
        transform: none;
    }  


}