@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


#ComunidadContainer{
    display: flex;
    background: rgb(16,65,83);
background: linear-gradient(180deg, rgba(16,65,83,1) 65%, rgb(16,70,88) 100%);
    padding: 4rem;
    gap: 20px;
    width: 100%;
}

.Titulo{
    width: 50%;
}

.TituloComunidad{
    font-size: 4rem;
    background: radial-gradient(45% 100% at 50% 50%, #fff 30%, hsla(0, 0%, 100%, .35) 100%);      
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    
}

#DescripcionContainer{
    width: 50%;


    
}

.DescripcionComunidad{
    font-size: 1.2rem;
    color: white;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    
}

#btnComunidad{
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    padding: .5rem 3em;
    border-radius: 35px;
    background-color: #0dda7e5a;
    background-image: url(/src/Components/Pages/Home/Images/Noiseimage.png);
    border:1px #e8e4e471 solid;
    transition: .3s all ease-in-out;
}

#btnComunidad:hover{
    background-color: #0dda7e95;
}   






@media (max-width: 900px) {
    #ComunidadContainer{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 10px;
        width: 100%;
    }
    
    .Titulo{
        width: 100%;
    }
    
    .TituloComunidad{
        font-size: 2.5rem;
        font-weight: 500;
        
    }
    
    #DescripcionContainer{
        width: 100%;
    
        
    }
    
    .DescripcionComunidad{
        font-size: 1rem;
        color: white;
        width: 100%;
        font-weight: 300;
        
    }
    
    .btnComunidad{
        font-size: 1rem;
        font-weight: 500;
        background-color: rgb(37, 179, 37);
        font-family: "Montserrat", sans-serif;
        padding: .3rem 4rem;
        border-radius: 13px;
    }


}