@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



#Introduction{
    display: flex;
    background: linear-gradient(180deg, rgba(32,117,147,1) 13%, rgba(16,65,83,1) 53%, rgba(2,19,25,1) 98%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#TituloIntroduction{
    font-size: 4rem;
    background: radial-gradient(45% 100% at 50% 50%, #fff 30%, hsla(0, 0%, 100%, .35) 100%);      
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
}

#BotonesConteiner{
    padding: 3rem;
    display: flex;
    flex-direction: row; /* Mantiene botones en fila*/
    gap: 30px; /* Espacio ente botones*/
    margin-bottom: 60px; /* con esto empujo la descripcion para abajo*/
    font-family: "Montserrat", sans-serif;
}


#DescripcionIntroduccion{
    font-size: large;
    color: rgb(221, 215, 215);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 00;
}

#btnDondeDonar{
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    border-radius: 300px;
    padding:  .5rem 2rem;
    border: 1px rgba(255, 253, 253, 0.368) solid;
    background-color: #116EFD;
    color: white;
    transition: .3s all ease-in-out;
}

#btnDondeDonar:hover{
    transform: translateY(-2px);
    background-color: #116EFD;

}

#btnAprenderMas{
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    border-radius: 300px;
    padding:  .5rem 2rem;
    background-color: #eaebed52;
    border: 1px rgb(177, 175, 175) solid;
    color: white;
    transition: .3s all ease-in-out;
}

#btnAprenderMas:hover{
    transform: translateY(-2px);
}

@media (max-width: 900px) {
    #Introduction{
        padding: 5rem 2rem 0rem 2rem ;
        align-items: center;
        height: 100vh;
    }
    
    #TituloIntroduction{
        font-size: 2.5rem;
        font-weight: 500;
    }
    
    #DescripcionIntroduccion{
        font-size: 1rem;
        color: rgb(221, 215, 215);
        text-align: center;
        font-weight: 200;
    }
    #BotonesConteiner{
        display: flex;
        justify-content: center;
        padding: 1.5rem 0;
        width: 100%;
        display: flex;
        flex-direction: row; /* Mantiene botones en fila*/
        gap: 15px; /* Espacio ente botones*/
        margin-bottom: 40px; /* con esto empujo la descripcion para abajo*/
        font-family: "Montserrat", sans-serif;
    }
    
    
    
    
    #btnDondeDonar{
        font-size: .75rem;
        height: 2.8rem;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        border-radius: 300px;
        padding:  .2rem 2rem;
        border: 1px rgba(255, 253, 253, 0.368) solid;
        background-color: #116EFD;
        color: white;
        transition: none;
    }
    
    #btnDondeDonar:hover{
        transform:none;
        background-color: #116EFD;
    
    }
    
    #btnAprenderMas{
        font-size: .75rem;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        border-radius: 300px;
        padding:  .5rem 2rem;
        background-color: #eaebed52;
        border: 1px rgb(177, 175, 175) solid;
        color: white;
        transition: none;
    }
    
    #btnAprenderMas:hover{
        transform:none;
        background-color: #116EFD;
    }
}