#VerTodoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: rgb(2,20,25);
    background: linear-gradient(0deg, rgba(2,20,25,1) 12%, rgba(8,71,88,1) 75%);
    padding: 9rem 2rem;
}

#TituloVerTodo{
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    color: white;
}


@media (max-width: 900px) {

    #VerTodoContainer{
        gap: 20px;
        padding: 9rem 0rem;
    }



    #TituloVerTodo{
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
        color: white;
    }

    #ContainerBotones{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}